/* WONDER */
@font-face {
  font-family: 'Wonder';
  src: url('/fonts/wonder/WonderType-Regular.otf') format('opentype');
}

/* SYNE */
@font-face {
  font-family: 'SyneMono';
  src: url('/fonts/syne/SyneMono-Regular.ttf') format('truetype');
}