/* WONDER */
@font-face {
  font-family: 'Wonder';
  src: url('/fonts/wonder/WonderType-Regular.otf') format('opentype');
  unicode-range: U+00-E4;
}

/* SYNE */
@font-face {
  font-family: 'SyneMono';
  src: url('/fonts/syne/SyneMono-Regular.ttf') format('truetype');
  size-adjust: 95%;
}