* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.hoverable {
  color: var(--fg);
  text-shadow: 0px 0px 0px var(--bg);
  transition: 0.3s;

  cursor: pointer;
  text-decoration: underline var(--bg);
}

.hoverable:hover {
  text-decoration: underline var(--fg);
}