:root {
  --width: 1000px;
  --goo-width: 100%;
  --goo-height: 4.5em;

  --margin: 0.4em;

  --progress-width: 100%;
  --progress-bar-height: 20px;
  --progress-button-size: 14px;

  --progress-orb-size: 1.5em;
  --progress-orb-margin: 0.5em;

  --max-blur: 0.3em;

  --bg: rgb(220, 220, 220);
  --fg: rgb(24, 23, 23);
  --accent: rgb(177, 159, 118);

  --max-font-size: 3.5rem;
  --min-font-size: 1.0rem;

  /*
  --font-family: Wonder;
  */
  --font-family: Wonder, SyneMono;
  font-weight: bold;

  --timing-function: cubic-bezier(0.33, 1, 0.68, 1)
}