.root {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: var(--font-family);

  background-color: var(--bg);

  /*
  font-size: var(--font-size);
  */
  font-size: clamp(var(--min-font-size), 6vw, var(--max-font-size));

  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 100vw;
  width: var(--width);
}