.footer {
  width: calc(100% - 2 * var(--margin));
  display: flex;
  justify-content: space-between;

  border-top:  var(--border);

  margin-top: var(--margin);
  padding-top: var(--margin);
}

.link {
  width: 100%;

  font-style: italic;
}

.rightLink {
  text-align: right;
}

.by {
  display: inline-block;
}