.controller {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: var(--margin);
  margin-right: var(--margin);

  padding-top: 0.5em;
}

.controllerButton {
  text-align: right;
  cursor: pointer;
}

.jumpButton {
  text-shadow: 0px 0px 10px var(--bg);
  transition: 0.3s;
}

.jumpButton:hover {
  text-shadow: 0px 0px 10px var(--fg);
}
