.info {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  margin-left: var(--margin);
  margin-right: var(--margin);

  border-top:  3px solid var(--fg);
  margin-top: 0.1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.infoLeft {
  width: 100%;
  text-align: left;
}

.infoRight {
  width: 100%;
  text-align: right;
}