@keyframes fadeIn {
  0% {
    filter: blur(var(--max-blur));
    opacity: 0;
  }

  50% {
    filter: blur(calc(var(--max-blur) * 0.2));
    opacity: 0.8;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    filter: blur(0px);
    opacity: 1;
  }

  50% {
    filter: blur(calc(var(--max-blur) * 0.8));
    opacity: 0.2;
  }


  100% {
    filter: blur(var(--max-blur));
    opacity: 0;
  }
}

.container {
  --padding: 0em;
  width: 100%;

  /*
  border: 4px double var(--fg);
  */
  height: var(--goo-height);

  overflow: hidden;
  padding: var(--margin);

  font-style: italic;
}

.paragraph  {
  position: relative;
  padding: var(--padding);

  width: var(--goo-width);
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;

  border-radius: var(--border-radius);

  font-family: var(--font-family);

  filter: url(#threshold);

  color: var(--fg);

  text-align: left;
}

.character {
  display: inline-block;
}

.previous {
  opacity: 0;
}

.current {
  opacity: 1;
}

.fadeIn {
  animation: fadeIn var(--animation-time) var(--timing-function);
}

.fadeOut {
  animation: fadeOut var(--animation-time) var(--timing-function);
}

.line {
  position: absolute;
  width: calc(100% - 2 * var(--padding));
  line-height: 1.1em;
}

.change {
  /*
    NOTE: arbitrary max width, avoids flickering issue... will break if change width is longer than this
  width: 100px;
  width: var(--change-width);
  max-width: calc(var(--width) * 0.8);
  display: inline-block;
  white-space: nowrap;
  */

  transition: width var(--animation-time) var(--timing-function);
}