.wrapper {
  width: var(--progress-width);
  max-width: 100vw;
  position: relative;
}

.progress {
  position: relative;
  border: 2px solid var(--fg);
  width: 100%;
  height: 100%;
  min-height: var(--progress-bar-height);

  border-radius: var(--border-radius);
  overflow: hidden;
}

.bar {
  width: calc(100% * var(--progress) + 2px);
  background-color: black;
  min-height: 100%;
  transition: var(--delay) var(--timing-function);
  border: 4px double var(--bg);
  border-radius: var(--border-radius);
}

.indicator {
  position: absolute;
  left: calc(100% * var(--progress));
  top: 0;

  transform: translate(-50%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 1;
}

.button {
  position: relative;

  left: 0;
  width: var(--progress-button-size);
  height: var(--progress-button-size);

  border: 2px solid var(--fg);
  border-radius: 100%;

  transition: var(--delay) var(--timing-function);

  cursor: pointer;
}

.button::after {
  position: absolute;
  content: "";

  width: 100%;
  height: 100%;

  top: 50%;
  left: 50%;

  border-radius: 100%;
  background-color: var(--bg);

  border: 2px solid var(--fg);

  transform: translate(-50%, -50%);
  transition: var(--delay);

  z-index: -1;
}

.passed .button {
  background-color: var(--fg);
}

.passed .button::after {
  width: 200%;
  height: 200%;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: var(--bg);
}

.button:hover {
  filter: invert(100%);
}

.line {
  position: relative;
  height: 1.5em;
  border-left: 2px solid var(--fg);

  z-index: -2;
}