.wrapper {
  width: var(--progress-width);
  max-width: 100vw;
  position: relative;

  padding-top: 0.0em;

  --blur: 6px;
}

.progress {
  position: relative;
  height: 100%;

  height: calc(var(--progress-orb-size) * 2.0);
  display: flex;
  align-items: end;

  overflow: hidden;
}

.progress::before {
  position: absolute;
  content: "";
  inset: -3px;

  z-index: 9;

  box-shadow: inset 0px 0px calc(var(--margin) * 0.5) var(--margin) var(--bg);
  overflow: hidden;

  pointer-events: none;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  margin-left: var(--margin);
  margin-right: var(--margin);

  border-top: 1px solid var(--fg);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.infoLeft {
  width: 100%;
  text-align: left;
}

.infoRight {
  width: 100%;
  text-align: right;
}

.orbContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  top: 0;
  
  --width: calc(var(--progress-orb-size) * var(--orbs) + var(--progress-orb-margin) * (var(--orbs) - 1));
  width: var(--width);
  left: calc(50% - (var(--width) + var(--progress-orb-margin)) * var(--linear-progress) - var(--progress-orb-size) / 2);

  transition: left var(--delay);
}

.orb {
  background-color: var(--fg);

  width: var(--progress-orb-size);
  height: var(--progress-orb-size);
  border-radius: 100%;

  transform: translate(0%, 0%);

  margin-right: var(--progress-orb-margin);
  margin-bottom: calc(var(--blur) + 10px);
  filter: blur(var(--blur));

  cursor: pointer;

  transition: transform var(--delay), background-color 0.3s, box-shadow 0.3s;

  box-shadow: 0px 0px 20px var(--accent);
}

.orb:hover {
  background-color: var(--bg);
  box-shadow: 0px 0px 10px 10px var(--fg);
  border: 1px solid var(--accent);
}

.orb:last-child {
  margin-right: 0;
}

.orbActive {
  transform: translate(0%, -50%);
}

.t {
  z-index: 2;
}

.controller {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-left: var(--margin);
  margin-right: var(--margin);

  padding-top: 0.5em;
}

.controllerButton {
  text-align: right;

  cursor: pointer;

  text-shadow: 0px 0px 0px var(--bg);
  transition: 0.3s;
}

.controllerButton:hover {
  color: var(--bg);
  text-shadow: 0px 0px 10px var(--fg);
}

.toStartButton {
  transform: scaleX(-1);
}