#app {
  background-color: var(--bg);
  color: var(--fg);

  height: 100vh;

  box-sizing: border-box;
}

main {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow: hidden;
}

.poem-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#goo-poem {
  padding: 1em;

  font-size: 2.0em;
  font-style: italic;

  max-width: 500px;
}

#goo-poem p:last-child::after, #goo-poem p:first-child:before {
  content: '"';
  font-style: italic;
}

#input-parent textarea {
  border: unset;
  background-color: unset;
  outline: unset;

  margin: 1em;
  padding: 1em;
  font-size: 1.1rem;
  font-style: italic;
  width: 500px;
  max-width: 90vw;
  height: 10em;
  resize: none;

  border: 1px solid black;
}

#log {
  display: none;
}

#save-button {
  border: 1px solid black;
  padding: 1em;

  cursor: pointer;
}

#reset-button {
  border: 1px solid black;
  padding: 1em;

  cursor: pointer;
}

#poem-progress {
  border: 1px solid var(--fg);
  border-radius: 5px;
  background-color: var(--bg);

  width: 300px;
  height: 20px;
  max-width: 100%;
}

#poem-progress-bar {
  height: 100%;
  display: inline-block;

  background-color: var(--fg);

  transition: 0.4s;
}

.poem-controller {
  padding: 1.0em;
  margin: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 0.3em;
}

.poem-controller > div {
  display: flex;
  gap: 0.5em;
  padding: 0.3em 0em;
}

#poem-index::before {
  content: "(";
}

#poem-index::after {
  content: ")";
}

.poem-controller button {
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid black;

  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stop-button {
  font-size: 1.4rem;
}

#start-from-save-button {
  width: auto;
}