.container {
  z-index: 2;

  font-size: clamp(var(--min-font-size), 6vw, var(--max-font-size) * 0.5);

  height: 100%;
  width: 0px;
  max-width: 100vw;

  --info-width: calc(var(--width) * 0.5);

  overflow: hidden;

  transition: var(--transition-time);

  box-shadow: 0px 0px 0px 0px var(--fg);
  border-right: 3px solid var(--fg);
}

.container.open, .container.opening {
  width: var(--info-width);
}

@media screen and (max-width: 1400px) {
  .container {
    position: fixed;
    left: 0;
    top: 0;

    box-shadow: 10px 10px 30px -20px var(--fg);
  }
}

.info {
  height: 100%;

  padding: clamp(0.5em, 10vw, 1em);
  position: relative;

  background-color: var(--bg);
}

.heading {
  font-size: 1.15em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;

  font-style: italic;
  text-transform: uppercase;
  font-weight: bolder;

  border-bottom:  3px solid var(--fg);
  text-shadow: 
    0px 0px 1px var(--bg),
    0px 0px 8px var(--fg);
}

.paragraph {
  padding-bottom: 0.5em;
}

.closeButton {
  position: absolute;

  right: 0em;
  top: 50%;

  height: 50%;
  padding-right: 1em;
  padding-left: 1em;

  transform: translate(0, -50%);

  cursor: pointer;
}

.link {
  font-style: italic;
}

.section:not(:first-of-type) {
  border-top:  3px solid var(--fg);
  padding-top: 0.5em;
}

.section:not(:last-child) {
  padding-bottom: 0.5em;
}