.container {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;

  font-size: clamp(var(--min-font-size), 6vw, var(--max-font-size) * 0.5);

  backdrop-filter: blur(10px);
}

.modal {
  max-width: 100%;
  max-height: 100%;

  width: calc(var(--width) * 0.6);

  padding: clamp(1em, 10vw, 3em);
  position: relative;

  background-color: var(--bg);
  box-shadow: 20px 20px 40px var(--fg);

  border: 1px solid var(--fg);
}

.heading {
  font-size: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;

  font-style: italic;
  text-transform: uppercase;
  font-weight: bolder;

  text-shadow: 
    0px 0px 1px var(--bg),
    0px 0px 8px var(--fg);

  border-bottom: 1px solid var(--fg);
}

.paragraph {
  padding-bottom: 0.5em;
}

.closeButton {
  position: absolute;

  right: 2em;
  top: 1em;
}

.link {
  font-style: italic;
}

.section:not(:last-child) {
  padding-bottom: 0.5em;
}